import panadas

In [1]:
import pandas as pd
import numpy as np

read Salaries.CSV as a dataframe & Check the head

In [2]:
df = pd.read_csv(r"C:\Users\XPRISTO\Desktop\Data_anlisys\Salaries.csv")
df.head()

C:\Users\XPRISTO\AppData\Local\Temp\ipykernel_9964\3980361993.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\XPRISTO\Desktop\Data_anlisys\Salaries.csv")

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Check the info to find how many intries

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

import numpy & convert the clumns that have numbers from object to float

In [4]:
df[['OvertimePay','OtherPay','BasePay','Benefits']] =df[['OvertimePay','OtherPay','BasePay','Benefits']].replace('Not Provided', np.nan).astype('float')

Average BasePay

In [5]:
df['BasePay'].mean()

np.float64(66325.4488404877)

Highest amount of OvertimePay

In [6]:
df['OvertimePay'].max()

np.float64(245131.88)

the job title of JOSEPH DRISCOLL

In [7]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

JOSEPH DRISCOLL make (inclding benefits)

In [8]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

Name of the highest paid person

In [9]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

Name of the Lowest paid person

In [10]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

Uniqe job titles

In [11]:
df['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], shape=(2159,), dtype=object)

number of Uniqe job titles

In [12]:
df['JobTitle'].nunique()

2159

The top 5 populer Jobs

In [13]:
df['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

The lower 5 populer Jobs

In [14]:
df['JobTitle'].value_counts().tail(5)

JobTitle
Light Rail Vehicle Equip Eng          1
Civil Case Settlmnt Specialist        1
ADMINISTRATOR, SFGH MEDICAL CENTER    1
CHIEF OF POLICE                       1
Special Assistant 8                   1
Name: count, dtype: int64

Jops titles were represented by only one person in 2013

In [15]:
((df[df['Year']==2013]['JobTitle'].value_counts())==1).sum()

np.int64(202)

the Number of jop title have the Word chief

In [16]:
def chief(string):
    if 'chief' in (string.lower()): 
        return True
    else:
        return False
(df['JobTitle'].apply(lambda x: chief(x))).sum()

np.int64(627)

Check correlation

In [17]:
df[['OvertimePay','TotalPayBenefits']].corr()

                  OvertimePay  TotalPayBenefits
OvertimePay          1.000000          0.467981
TotalPayBenefits     0.467981          1.000000